*{
  color: #000;
  margin: 0;
  padding:0;
  font-family: 'Open Sans', sans-serif;
}

body{
  background-image: url(../img/background.jpg);
  background-attachment: fixed;
  width: 65%;
  margin:0 auto;
}

@media(min-width: 1080px){
  body{
    background-size: cover;
  }
}

@media(max-width: 1079px){
  body{
    background-size: contain;
  }
}

/*NAVBAR*/
nav{
  text-align: center;
  width: 100%;
}

.navbar li{
  text-decoration: none;
  display: inline;
  padding: 0px 10px;
}

.navbar a{
  text-decoration: none;
  text-transform: uppercase;
  line-height: 80px;
}

.navbar a:hover{
  text-decoration: underline;
}

/*HOMEPAGE*/
div.bio{
  text-align: center;
}

div.bio img{
  padding:10px;
}

/*JOURNAL ENTRIES*/
div.journal-entry{
  text-align: center;
  padding:20px 0;
}

div.journal-entry h2{
  text-decoration: underline;
  padding-bottom: 5px;
}
